.contact {
	.hero {
		background-image: url(../assets/contact__hero-bg.jpg);
	}

	span.ninja-forms-req-symbol {
	    color: $offblack;
	}

	.nf-field-label {
		label {
			text-transform: uppercase;
			font-size: 15px;
		}

	}

	.label-above .nf-field-label {
		margin-bottom: 2px;
	}

	.submit-container {
		text-align: right;
		input {
			font-weight: bold;
		}
	}

}

.linkedin {
	margin-top: 15px;
	.icon {
		height: auto;
		width: 30px;
		display: inline-block;
		padding-right: 5px;
		margin-bottom: -9px;
	}
}

.contact-details {
	.content {
		padding-bottom: 20px;
		font-size: 18px;
		color: $gray;
	}

	strong {
		font-size: 17px;
		font-weight: bold;
		color: #232323;
	}

	address {
		a {
			text-decoration: none;
			font-weight: normal;
		}
		p {
			margin: 0;
		}
	}
}


.contact-us {
	.title {
		margin-bottom: 0;
		color: #231f20;
	}
	.copy {
		font-size: 23px;
		padding: 0 0 25px 0;
		color: #494a49;
	}

	a {
		text-decoration: underline;
	}
}


.nf-form-fields-required {
	display: none;
}

.nf-field-description {
	margin: 0 !important;
	width: 90% !important;
	display: inline-block;
}




@media #{$tablet} {
	.contact-details .content {
		margin-right: 20px
	}

	.contact-us .copy {
		margin-right: 20px;
	}
}
