//––
// HERO
//––––––––––––––––––––––––––––––
.home {
	.hero {
		background-image: url('../assets/home__hero-bg.jpg');
	}

}



//––
// CASE RESULTS
//––––––––––––––––––––––––––––––
.case-results {
	background-color: $offwhite;
	padding: 80px 20px;


	.inner {
		position: relative;
	}

	.readmore {
		text-align: right;
		display: inline-block;
		position: absolute;
		right: 0;
	}
}



//––
// NEWS
//––––––––––––––––––––––––––––––
.news {
	padding: 50px 50px;

	.thumbnail {
		width: 100%;
	}

	.date {
		text-transform: uppercase;
		color: $gray;
		font-size: 1.4rem;
		display: block;
		padding: 13px 0;
	}
}



//––
// MEDIA QUIRIES
//––––––––––––––––––––––––––––––
@media #{$tablet} {
	.home .hero {
		min-height: 850px;
	}

	.injury {
		min-height: 600px;
	}

	.employment {
		min-height: 295px;
	}

	.small-blocks {
		min-height: 295px;
	}

	.criminal {
		min-height: 295px;
	}

	.civil {
		min-height: 295px;
	}
}



.frs-slideshow-container .frs-slideshow-content {
		background: transparent url('') !important;
}
