//––
// HERO
//––––––––––––––––––––––––––––––
.home {
	.hero {
		background-image: url('../assets/home__hero-bg.jpg');
	}
}
.practice-areas-section {
	padding: 80px 0;
	text-align: center;
}

.areas {
	padding: 40px 0;
	.title {
		text-align: center;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.injury {
		background-image: url(http://placehold.it/750x350);
		@include cover;
		margin-bottom: 10px;
		height: 150px;
	}

	.employment {
		background-image: url(http://placehold.it/350x150);
		@include cover;
		margin-bottom: 10px;
		height: 150px;
	}
}


.inner-half {
	.criminal {
		background-image: url(http://placehold.it/350x150);
		@include cover;
		height: 150px;
		margin-bottom: 10px;
	}

	.civil {
		background-image: url(http://placehold.it/350x150);
		@include cover;
		height: 150px;
	}
}



//––
// CASE RESULTS
//––––––––––––––––––––––––––––––
.case-results {
	background-color: $offwhite;
	padding: 80px 20px;
}



//––
// NEWS
//––––––––––––––––––––––––––––––
.news {
	padding: 50px 50px;

	.thumbnail {
		width: 100%;
	}

	.date {
		text-transform: uppercase;
		color: $gray;
		font-size: 1.4rem;
		display: block;
		padding: 13px 0;
	}

	.readmore {
		text-decoration: underline;
	}
}



//––
// MEDIA QUIRIES
//––––––––––––––––––––––––––––––
@media #{$tablet} {
	.hero {
		min-height: 700px;
	}

	.injury {
		min-height: 600px;
	}

	.employment {
		min-height: 295px;
	}

	.small-blocks {
		min-height: 295px;
	}

	.criminal {
		min-height: 295px;
	}

	.civil {
		min-height: 295px;
	}
}
