.blog {
	.hero {
		background-image: url('../assets/crnews__hero-bg.jpg');
	}
}


.date {
	font-weight: bold;
	color: $offgray;
	padding-bottom: 15px;
}

.readmore {
	border-bottom: 1px solid $offblack;
}


.settlement {
	padding-bottom: 15px;
	.icon {
		height: auto;
		width: 20px;
		display: inline-block;
	}

	.copy {
		font-weight: bold;
		color: $green;
		vertical-align: 4px;
		text-transform: uppercase;
	}
}


.post-item {
	padding: 40px 0;
	.attachment-post-thumbnail {
		width: 100%;
	}
	.content {
		margin-right: 10px;
	}
}


.pagination {
	text-align: right;
	padding-top: 15px;

	.page-numbers {
		border: 2px solid $offblack;
		padding: 3px 8px;

		&:hover {
			background-color: $offblack;
			color: $white;
		}
	}
}


.single-post {
	.hero {
		background-image: url('../assets/crnews__hero-bg.jpg');
	}

	.title {
		font-weight: 800;
		margin-bottom: 0;
	}

	.content img {
		display: none;
	}
}

@media #{$tablet} {
	.single-post .content img {
		float: right;
		display: block;
		padding: 0 0 20px 20px;
	}
}
