
.blog {
	.hero {
		background-image: url('../assets/crnews__hero-bg.jpg');
	}

	p {
		line-height: 24px;
	}
}

.case-and-news {
	margin-bottom: 128px;
}


.date {
	font-weight: bold;
	color: $offgray;
	padding-bottom: 15px;
	text-transform: uppercase;
}

.readmore {
	border-bottom: 1px solid $offblack;
	font-weight: bold;
}


.settlement {
	padding-bottom: 15px;
	.gavel {
		height: auto;
		width: 30px;
		display: inline-block;
		vertical-align: middle;
		padding-right: 10px;
	}

	.copy {
		font-weight: bold;
		color: $green;
		text-transform: uppercase;
		vertical-align: middle;
	}


}


.post-item {
	padding: 40px 0;
	.attachment-post-thumbnail {
		width: 100%;
		max-width: 460px;
		max-height: 300px;
	}
	.content {
		margin-right: 10px;
	}

	.title a {
		font-size: 34px;
		font-weight: 900;
	}

}


.pagination {
	text-align: right;
	padding-top: 15px;

	.page-numbers {
		border: 2px solid $offblack;
		padding: 3px 8px;

		&:hover {
			background-color: $offblack;
			color: $white;
		}
	}

	.current {
		background-color: $offblack;
		color: $white;
	}
}

body.single-post {
	font-size: 16px;
	line-height: 24px;
}


.single-post {
	.hero {
		background-image: url('../assets/crnews__hero-bg.jpg');
	}

	.title {
		font-weight: 800;
		margin-bottom: 0;

	}

	.content img {
		display: none;
	}
}

@media #{$tablet} {
	.single-post .content img {
		float: right;
		display: block;
		padding: 0 0 20px 20px;
	}
}
