.blog {
	.hero {
		background-image: url('../assets/crnews__hero-bg.jpg');
	}

	.post {
		padding: 40px 0;

		.date {
			font-weight: bold;
			color: $offgray;
			padding-bottom: 15px;
		}

		.readmore {
			border-bottom: 1px solid $offblack;
		}
	}
}

.settlement {
	padding-bottom: 15px;
	.icon {
		height: auto;
		width: 20px;
		display: inline-block;
	}

	.copy {
		font-weight: bold;
		color: $green;
		vertical-align: 4px;
		text-transform: uppercase;
	}
}

.post {
	.attachment-post-thumbnail {
		width: 100%;
	}
	.content {
		margin-right: 10px;
	}
}

.pagination {
	text-align: right;
	padding-top: 15px;

	.page-numbers {
		border: 2px solid $offblack;
		padding: 3px 8px;

		&:hover {
			background-color: $offblack;
			color: $white;
		}
	}
}
