.our-attorneys, .single-attorney {
	.hero {
		background-image: url('../assets/ourattorneys__hero-bg.jpg');
	}
}


.attorney {
	min-height: 250px;
	position: relative;
	text-align: center;
	color: $white;
	background-position: center;
	background-repeat: no-repeat;
	margin: 25px;

	.name {
		padding-bottom: 40px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}


@media #{$tablet} {
	.attorney {
		min-height: 400px;
		margin: 25px;
	}
}

@media screen and (min-width:1024px) {
	.attorney {
		min-height: 500px;
		margin: 0;
	}
}
