.our-firm {
	.hero {
		background-image: url('../assets/ourfirm__hero-bg.jpg');
		margin-bottom: 0;
	}

	.subtitle {
		font-weight: 600;
		line-height: 34px;
	}
}


@media screen and (min-width:960px) {
	.our-firm .hero {
		margin-bottom: 82px;
	}
}
