.our-attorneys {
	.hero {
		background-image: url('../assets/ourattorneys__hero-bg.jpg');
	}
}


.attorney {
	min-height: 250px;
	position: relative;
	text-align: center;
	color: $white;
	background-image: url('http://placehold.it/500x400');
	@include cover;

	.name {
		padding-bottom: 40px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}


@media #{$tablet} {
	.attorney {
		min-height: 500px;
	}
}
