//––
// HERO
//––––––––––––––––––––––––––––––
.practice-areas, .page-template-template-practice-area {
	.hero {
		background-image: url('../assets/practiceareas__hero-bg.jpg');
	}
}



//––
// HIDDEN CONTENT
//––––––––––––––––––––––––––––––
.hover-content {
	display: none;
	position: absolute;
	height: 100%;
	color: $gray;
	text-align: center;
  flex-direction: column;
  justify-content: center;
	width: 100%;

	.list {
		list-style-type: none;
		padding: 0;
		text-align: center;
		li {
			padding: 2px 0;
		}
	}

	.title {
		color: $white;
	}
}


@mixin item-hover {
	&:hover .hover-content{
		display: flex;
		background-color: $offblack;

		.title {
			margin-bottom: 0;
		}
	}
}

//––
// AREAS
//––––––––––––––––––––––––––––––
.areas {
	margin-bottom: 50px;
	font-size: 14px;

	.title {
		text-align: center;
		color: $white;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.injury {
		background-image: url(../assets/pa__personalinjury.jpg);
		@include cover;
		margin-bottom: 10px;
		height: 150px;
		position: relative;
	}

	.employment {
		background-image: url(../assets/pa__employment.jpg);
		@include cover;
		margin-bottom: 10px;
		height: 150px;
		position: relative;
	}

	.criminal {
		background-image: url(../assets/pa__criminal.jpg);
		@include cover;
		height: 150px;
		margin-bottom: 10px;
		position: relative;
	}

	.civil {
		background-image: url(../assets/pa__civil.jpg);
		@include cover;
		height: 150px;
		position: relative;
	}
}


@media #{$tablet} {
	.injury, .employment, .criminal, .civil {
		@include item-hover;
	}
}
