//––
// HERO
//––––––––––––––––––––––––––––––
.practice-areas {
	.hero {
		background-image: url('../assets/practiceareas__hero-bg.jpg');
	}
}



//––
// HIDDEN CONTENT
//––––––––––––––––––––––––––––––
.hover-content {
	display: none;
	position: absolute;
	height: 100%;
	color: $gray;
	text-align: center;
  flex-direction: column;
  justify-content: center;
	width: 100%;

	.list {
		list-style-type: none;
		padding: 0;
		text-align: center;
		li {
			padding: 3px 0;
		}
	}
}

@mixin item-hover {
	&:hover .hover-content{
		display: flex;
		background-color: $offblack;
	}
}


//––
// AREAS
//––––––––––––––––––––––––––––––
.areas {
	margin-bottom: 50px;

	.title {
		text-align: center;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.injury {
		background-image: url(http://placehold.it/750x350);
		@include cover;
		margin-bottom: 10px;
		height: 150px;
		position: relative;
		@include item-hover;
	}

	.employment {
		background-image: url(http://placehold.it/350x150);
		@include cover;
		margin-bottom: 10px;
		height: 150px;
		position: relative;
		@include item-hover;
	}


	.criminal {
		background-image: url(http://placehold.it/350x150);
		@include cover;
		height: 150px;
		margin-bottom: 10px;
		position: relative;
		@include item-hover;
	}

	.civil {
		background-image: url(http://placehold.it/350x150);
		@include cover;
		height: 150px;
		position: relative;
		@include item-hover;
	}
}
