.single-attorney {
	.profile-image {
		width: 100%;
	}

	.list {
		padding: 0;
		margin-left: 15px;

		li {
			padding-bottom: 8px;
		}
	}

	.title {
		text-transform: uppercase;
	}

	p {
		margin: 0;
	}
}

.message-btn {
	border: 3px solid $offblack;
	display: block;
	text-align: center;
	padding: 15px 0;
	margin: 20px 0;

	&:hover {
		background-color: $offblack;
		color: $white;
	}
}



@media #{$tablet} {
	.right-column {
		padding: 0 40px;
	}
}
