.single-attorney {
	color: #494a49;

	.profile-image {
		width: 100%;
	}

	.list {
		padding: 0;
		margin-left: 15px;

		li {
			padding-bottom: 8px;
		}
	}

	.title {
		text-transform: uppercase;
	}

	p {
		margin: 0;
	}

	.row {
		margin-bottom: 5px;
	}

	.attorney-title, .attorney-position {
		color: #231f20;
	}
}



.mobile-title {
	display: block;
	text-align: center;
}

.desktop-title {
	display: none;
}

.message-btn {
	border: 3px solid $offblack;
	display: block;
	text-align: center;
	padding: 15px 0;
	margin: 20px 0;

	&:hover {
		background-color: $offblack;
		color: $white;
	}
}



@media #{$tablet} {
	.right-column {
		padding: 0 40px;
	}

	.mobile-title{
		display: none;
	}

	.desktop-title {
		display: block;
	}
}
