//––
// SLIDER
//––––––––––––––––––––––––––––––
.frs-slideshow-container .frs-slideshow-content {
	background: transparent;
}

.slide-one {
	text-align: center;
	color: $white;
	text-transform: uppercase;
	font-size: 4.4rem;
	font-weight: 600;
	position: relative;

	.plus {
		font-size: 10rem;
		font-weight: bold;
		line-height: .5;
		color: $offblack;
	}
}

@media #{$tablet} {
	.slide-one {
		font-size: 8rem;
	}

	.slide-one .plus {
		font-size: 13rem;
	}
}

.slick-prev,.slick-next {
	display: none !important;
}
