//––
// FOOTER
//––––––––––––––––––––––––––––––
footer {
	background-color: $darkgray;
	color: $white;
	padding: 40px 20px;
	margin-top: 50px;

	.title {
		font-size: 4rem;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 40px;
		text-align: center;
	}

	.contact {
		margin-left: auto;
		margin-right: auto;
		max-width: 190px;
		 .link {
			 margin-bottom: 5px;
			 display: block;
		 }
	}

	.signup {
		border: 0;
		padding: 20px 50px 80px;
		margin-bottom: 20px;
		text-align: center;
	}

	.location {
		padding: 20px 50px 40px;
		margin-bottom: 20px;
		text-align: center;

		address {
			padding-bottom: 15px;
		}
	}

	.legal {
		color: $gray;
		text-align: center;
	}

	.icon {
		height: auto;
		width: 20px;
		display: inline-block;
		padding-right: 15px;
	}
}


.footer-section {
	color: $green;
	text-transform: uppercase;
}

.footernav {
	text-align: center;
	ul {
		padding: 0;
	}
	li {
		list-style-type: none;
	}
	a {
		border: 0;
		padding: 3px 0;
		display: block;
	}
}


//––
// MEDIA QUIRIES
//––––––––––––––––––––––––––––––
@media #{$tablet} {
	footer {
		.title {
			text-align: left;
		}

		.signup {
			border-right: 1px solid $gray;
			border-left: 1px solid $gray;
			text-align: left;
		}

		.location {
			text-align: left;
		}

		.legal {
			text-align: left;
		}
	}

	.footernav {
		text-align: left;
	}
}
