input {
	padding: 10px;
	background-color: $offwhite;
	border: 0;
}

textarea {
	background-color: $offwhite;
	border: 0;
	padding: 10px;
	height: 120px !important;
}

input[type=submit] {
	border:1px solid red;
}
