input {
	padding: 15px;
	background-color: #eee;
	border: 0;

	&::-webkit-input-placeholder {
		 color: white;
	}

	&:-moz-placeholder { /* Firefox 18- */
		 color: white;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		 color: white;
	}

	&:-ms-input-placeholder {
		 color: white;
	}
}

input[type=checkbox] {
	appearance: none;
	border:2px solid $offblack;

	background-color: $white;
	height: 15px !important;
	width: 15px !important;
	outline: none;
}

input[type=checkbox]:checked {
	background-color: $green;
	border:2px solid $green;
}

input[type=button] {
	appearance: none;
	border:2px solid $offblack;
	background-color: $white;
	padding: 10px 25px;

	&:hover {
		background-color: $offblack;
		color: $white;
		cursor: pointer;
	}
}

textarea {
	background-color: #eee;
	border: 0;
	padding: 10px;
	height: 120px !important;
}
