input {
	padding: 10px;
	background-color: #eee;
	border: 0;
}

input[type=checkbox] {
	border:1px solid red !important;
}

textarea {
	background-color: #eee;
	border: 0;
	padding: 10px;
	height: 120px !important;
}
