nav {
	position: relative;
	top: 50px;
	height: 0;
	text-align: center;
	color: $white;
	z-index: 100;
	ul {
		li {
			display: inline-block;
		}
	}

	a {
		border-bottom: none;
		padding: 10px;
	}
}
