nav {
	position: relative;
	color: $white;
	z-index: 100;
	width: 100%;
	left: 0;
	right: 0;
	top: 30px;

}



.menu-header-navigation-container {
	background-color: $offblack;
	padding: 80px 15px;
	position: absolute;
	right: -350px;
	width: 300px;
	top: -40px;
	min-height: 575px;

	.menu-item {
		display: block;
		text-align: right;
		padding: 10px;
	}
}

.site-logo {
	position: relative;
	z-index: 99;
	width: 230px;
	height: 50px;

	.logo {
		position: absolute;
		height: 40px;
		padding-left: 25px;
		left: 0;
		top: 0;
	}
}




.hamburger {
	position: relative;
	cursor: pointer;

	.position {
		width: 30px;
		position: absolute;
		padding: 10px 25px 15px 0;
		z-index: 5;
	}

	.bars {
		right: 0;
		top: 0;
	}

	.cross {
		right: -80px;
		top: -5px;
	}
}


@media screen and (min-width:860px) {
	nav {
		max-width: 960px;
		margin: 0 auto;
	}
	.menu-header-navigation-container {
		background-color: transparent;
		padding: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		text-align: right;
		top: 0;
		right: 25px;

		.menu-item {
			display: inline-block;
			padding: 10px;
		}
	}

	.hamburger {
		display: none;
	}

	.site-logo .logo {
		height: 55px;
	}
}
