//––
// CONTRAINTS
//––––––––––––––––––––––––––––––
.mxw-960 {
	max-width: 960px;
	margin: 0 auto;
}

.mxw-700 {
	max-width: 700px;
	margin: 0 auto;
}



//––
// SPACE
//––––––––––––––––––––––––––––––
.inner-space {
	padding: 0 25px 50px;
}

.room-sides {
	padding: 0 25px;
}

.nopad {
	padding: 0;
}

.bottom-space {
	padding-bottom: 40px;
}



//––
// STYLE RESETS
//––––––––––––––––––––––––––––––
.center-text {
	text-align: center;
}

.no-border {
	border: 0;
}


.hide-mobile {
	display: none;
}

@media #{$tablet} {
	.show-tablet {
		display: block;
	}
}


.parent {
	.title {
		color: #231f20;
		margin-bottom: 30px;
	}

	.subtitle {
		color: #494a49;
		font-size: 22px;
	}

	.content {
		color: #494a49;
		line-height: 24px;
	}
}

.boxlink {
	display: block;
	height: 100%;
	border:1px solid red;
}

.rel {
	position: relative;
}



@media #{$tablet} {
	.parent {
		.subtitle {
			font-size: 28px;
		}
	}
}



//––
// MIXINS
//––––––––––––––––––––––––––––––
@mixin cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
