//––
// CONTRAINTS
//––––––––––––––––––––––––––––––
.mxw-960 {
	max-width: 960px;
	margin: 0 auto;
}

.mxw-700 {
	max-width: 700px;
	margin: 0 auto;
}


//––
// SPACE
//––––––––––––––––––––––––––––––
.inner-space {
	padding: 0 25px 50px;
}

.room-sides {
	padding: 0 25px;
}

.nopad {
	padding: 0;
}

.bottom-space {
	padding-bottom: 40px;
}


//––
// STYLE RESETS
//––––––––––––––––––––––––––––––
.center-text {
	text-align: center;
}

.no-border {
	border: 0;
}


.hide-mobile {
	display: none;
}

@media #{$tablet} {
	.show-tablet {
		display: block;
	}
}



//––
// MIXINS
//––––––––––––––––––––––––––––––
@mixin cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
